body{
    background-color: black;
    color: white;
    overflow: hidden;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bar{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    border: solid 1px red;
    border-radius: 5px;
    color: white;
    width: 97%;
    position:absolute;
    bottom: 0%;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.25); 
    justify-content: space-between;
}


.window{
    border: solid 1px red;
    border-radius:5px;
    width: 180px;
    padding:10px;
}

.tux{
    width: 50px;
    height: 50px;
}







